In [77]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
plt.style.use('ggplot')
# pd.set_option ('max_column',200)

df = pd.read_csv('C:\\Users\\garviagrawal\\Downloads\\Policyfeatures.csv')
print(df.head())

  policy_id  policy_tenure  age_of_car  age_of_policyholder area_cluster  \
0   ID00001       0.515874        0.05             0.644231           C1
1   ID00002       0.672619        0.02             0.375000           C2
2   ID00003       0.841110        0.02             0.384615           C3
3   ID00004       0.900277        0.11             0.432692           C4
4   ID00005       0.596403        0.11             0.634615           C5

   population_density  is_claim
0              4990.0         0
1             27003.0         0
2              4076.0         0
3             21622.0         0
4             34738.0         0

In [302]:
df.shape

(58515, 7)

In [79]:
df.dtypes

policy_id               object
policy_tenure          float64
age_of_car             float64
age_of_policyholder    float64
area_cluster            object
population_density     float64
is_claim                 int64
dtype: object

In [83]:
df.isna().sum()

policy_id               0
policy_tenure          20
age_of_car              5
age_of_policyholder     7
area_cluster            6
population_density     12
is_claim                0
dtype: int64

# No Duplicated Rows

In [85]:
df.loc[df.duplicated()]

Empty DataFrame
Columns: [policy_id, policy_tenure, age_of_car, age_of_policyholder, area_cluster, population_density, is_claim]
Index: []

In [101]:
df.isnull().sum().sum()

50

# No columns with all null values

In [113]:
print(df.shape)

(58515, 7)

In [123]:
df2=df.dropna(how="all")

In [125]:
df2.shape

(58515, 7)

In [127]:
df2 =df.fillna(value=0)

# Outliers

In [276]:
def three_standard_deviation(x):
    xll = x.mean() -3*x.std()
    print("Lower limit :",xll)
    xul = x.mean() +3*x.std()
    print("Upper limit :",xul)
    print("Minimum :",x.min())
    print("Maximum :",x.max())
    return xll,xul

In [278]:
lpolicy_tenure, upolicy_tenure = three_standard_deviation(df.policy_tenure)

Lower limit : -0.631101294146168
Upper limit : 1.853451254947228
Minimum : 0.002735273
Maximum : 1.396641077

No outliers in policy_tenure

In [282]:
lage_of_car,uage_of_car=three_standard_deviation(df.age_of_car)

Lower limit : -0.10076528452979286
Upper limit : 0.23959180991006976
Minimum : 0.0
Maximum : 1.0

Outliers present in age_of_car

In [286]:
lage_of_policyholder,uage_of_policyholder=three_standard_deviation(df.age_of_policyholder)

Lower limit : 0.10071966237232138
Upper limit : 0.8381269647720351
Minimum : 0.288461538
Maximum : 1.0

outliers present in age_of_policyholder

In [308]:
lpopulation_density,upopulation_density=three_standard_deviation(df.population_density)

Lower limit : -34154.60943806999
Upper limit : 71811.7290729605
Minimum : 290.0
Maximum : 73430.0

outliers present in population_density

In [ ]:
Convert area_cluster to integers

In [263]:
df.area_cluster=pd.to_numeric(df.area_cluster.str.strip('C'))

In [269]:
df.dtype

policy_id               object
policy_tenure          float64
age_of_car             float64
age_of_policyholder    float64
area_cluster           float64
population_density     float64
is_claim                 int64
dtype: object

In [310]:
larea_cluster,uarea_cluster=three_standard_deviation(df.area_cluster)

Lower limit : -5.869774185496797
Upper limit : 21.21336235141999
Minimum : 1.0
Maximum : 22.0

No outliers in area_cluster

In [312]:
cdf=df.copy()
cdf = cdf[(cdf.age_of_car>lage_of_car) & (cdf.age_of_car<uage_of_car)]
cdf = cdf[(cdf.age_of_policyholder>lage_of_policyholder) & (cdf.age_of_policyholder<uage_of_policyholder)]
cdf = cdf[(cdf.population_density>lpopulation_density) & (cdf.population_density<upopulation_density)]
cdf.shape

(54918, 7)

In [332]:
cdf.describe()

,policy_tenure,age_of_car,age_of_policyholder,area_cluster,population_density,is_claim
count,54903.000000,54918.000000,54918.000000,54918.000000,54918.000000,54918.000000
mean,0.617841,0.068634,0.468261,7.533832,15735.548818,0.065042
std,0.414831,0.053770,0.121702,4.609651,12270.046379,0.246603
min,0.002735,0.000000,0.288462,1.000000,290.000000,0.000000
25%,0.215268,0.020000,0.365385,3.000000,6112.000000,0.000000
50%,0.584168,0.060000,0.451923,8.000000,8794.000000,0.000000
75%,1.043744,0.110000,0.548077,9.000000,27003.000000,0.000000
max,1.396641,0.230000,0.836538,22.000000,65567.000000,1.000000

In [544]:
import os
def hist_pt(cdf,column,odir):
    output_dir = os.path.join(".","part1_graphs",odir)
    # print(output_dir)
    if not os.path.exists(output_dir):
        os.makedirs(output_dir)
  
    claim_df=cdf[cdf['is_claim']==1]
    no_claim_df=cdf[cdf['is_claim']==0]
    plt.figure(figsize=(6,6))
    plt.hist(cdf[column],bins=20,edgecolor='black')
    plt.title(f'{column}-All_data')
    plt.xlabel(column)
    plt.ylabel('Frequrncy')
    plt.tight_layout()
    plt.savefig(f'./part1_graphs/{odir}/{column}_all_data.png')
    plt.close()
    
    plt.figure(figsize=(6,6))
    plt.hist(no_claim_df[column],bins=20,edgecolor='black')
    plt.title(f'{column}-Without_claim')
    plt.xlabel(column)
    plt.ylabel('Frequrncy')
    plt.tight_layout()
    plt.savefig(f'./part1_graphs/{odir}/{column}_Without_claim.png')
    plt.close()
    
    plt.figure(figsize=(6,6))
    plt.hist(claim_df[column],bins=20,edgecolor='black')
    plt.title(f'{column}-With_claim')
    plt.xlabel(column)
    plt.ylabel('Frequrncy')
    plt.tight_layout()
    plt.savefig(f'./part1_graphs/{odir}/{column}_With_claim.png')
    plt.close()

In [546]:
hist_pt(cdf,"policy_tenure","histogram")
hist_pt(cdf,"age_of_car","histogram")
hist_pt(cdf,"age_of_policyholder","histogram")
hist_pt(cdf,"area_cluster","histogram")
hist_pt(cdf,"population_density","histogram")